*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.meta text merge=unityyamlmerge eol=lf
*.mat text merge=unityyamlmerge eol=lf
*.anim text merge=unityyamlmerge eol=lf
*.controller text merge=unityyamlmerge eol=lf
*.cs text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.wav binary
*.mp3 binary
*.ogg binary
